body{
    background-color: #dc9750;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;}

.error-box{
    background-color: #1e2640;
    padding: 30px;
    border-radius: 15px;}

.error-box h1,
.error-box h2{color: #f8f7fa;}